@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**************/


/* 0. Variáveis
/* 1. Gerais
/* 2. Container
/* 3. Header
/* 4. User Dashboard


/**************/


/* 0. Variáveis

/**************/

:root {
    --clr--white: rgb(255, 255, 255);
    --clr--medium-white: rgb(241, 243, 246);
    --clr--black: rgb(0, 0, 0);
    --clr--medium-red: rgb(190, 33, 38);
    --clr--text: rgba(96, 108, 118, 0.74);
    --clr--link: rgb(52, 152, 219);
    --clr--blue: rgb(32, 97, 158);
    --clr--yellow: rgb(255, 209, 86);
    --clr--border: rgba(128, 128, 128, 0.247);
    --font--text: 'Roboto', sans-serif;
    --font--title: 'Open Sans', sans-serif;
}


/**************/


/* 1. Gerais
/**************/


/**************/


/* 2. Container
/**************/

.user-dashboard__container {
    position: relative;
}

.user-dashboard__register-container {
    display: grid;
    grid-template-columns: repeat(3, 22vw);
    grid-template-rows: repeat(2, 155px);
    grid-auto-flow: row;
    gap: 30px;
}


/**************/


/* 3. Header
/**************/

.main-header {
    height: 55px;
}

.navbar__item:first-child {
    padding-top: 21px;
}

.navbar__item span {
    right: 315px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .main-header {
        height: 53px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1024px){
    .main-header{
        height: 52px;
    }
}

/**************/


/* 4. User Dashboard
/**************/

.user-dashboard {
    padding: 30px 40px 0 40px;
}

.dashboard-main__div {
    background-color: var(--clr--white);
    border-bottom: 1px solid var(--clr--border);
    width: 100%;
    height: 60px;
    padding: 15px 30px;
}

.dashboard-main__div .dashboard-main__div-title {
    color: var(--clr--text);
    font-family: var(--font--title);
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.dashboard-main__div i {
    color: var(--clr--text);
}

.user-dashboard__register-link .user-dashboard__register,
.user-dashboard__help {
    background-color: var(--clr--white);
    border: 1px solid var(--clr--border);
    padding: 30px 15px;
    color: var(--clr--black);
    position: relative;
    font-weight: normal;
}

.user-dashboard__register .user-dashboard__register-title {
    font-size: .80rem;
}

.user-dashboard__register .user-dashboard__register-current-value {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 4rem;
}

.is-yellow {
    color: var(--clr--yellow);
}

.is-red {
    color: var(--clr--medium-red);
}

.is-blue {
    color: var(--clr--blue);
}

.is-link {
    color: var(--clr--link);
}

.user-dashboard__register .user-dashboard__register-caption {
    font-size: .95rem;
    color: var(--clr--text);
}

.user-dashboard__register>i {
    position: absolute;
    right: 5%;
    left: auto;
    top: 10%;
    bottom: auto;
    font-size: 3.4rem;
    color: var(--clr--text);
}

.user-dashboard__help {
    height: 690px;
    width: 24vw;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

.user-dashboard__help .user-dashboard__help-header {
    color: var(--clr--link);
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid var(--clr--link);
    font-weight: bold;
}

.user-dashboard__help-header h1,
.user-dashboard__help-header i {
    display: inline-block;
}

.user-dashboard__help-body-caption {
    font-size: .95rem;
    color: rgba(80, 89, 97, 0.966);
    margin-bottom: 25px;
    line-height: 25px;
}

.user-dashboard__help-body {
    font-size: .90rem;
    padding: 20px 20px 10px 20px;
}

.user-dashboard__help-body-item {
    margin-bottom: 30px;
}

.user-dashboard__help-body-item i {
    display: inline-block;
    vertical-align: super;
    font-size: 2rem;
    margin-right: 5%;
    color: var(--clr--text);
}

.user-dashboard__help-body-item .fa-credit-card {
    font-size: 1.8rem;
}

.user-dashboard__help-body-item-text {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.user-dashboard__help-body-item:last-child i,
.user-dashboard__help-body-item:last-child h2 {
    color: var(--clr--link);
}

.user-dashboard__help-body-item-text h2 {
    margin-bottom: .60rem;
    font-size: 1rem;
    font-weight: 500;
}

.user-dashboard__help-body-item-text h2 span {
    background-color: rgb(0, 199, 107);
    color: var(--clr--white);
    font-size: .60rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
}

.user-dashboard__help-body-item-text button,
.user-dashboard__help-footer button {
    margin-top: 10px;
    border: 1px solid var(--clr--link);
    background-color: var(--clr--white);
    padding: 5px 20px;
    border-radius: 3px;
    color: var(--clr--link);
    position: relative;
    font-size: .90rem;
    cursor: pointer;
}

.user-dashboard__help-body-item-text button:hover {
    background-color: rgba(102, 160, 199, 0.322);
}

.user-dashboard__help-body-item-text button i {
    font-size: .90rem;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.user-dashboard__help-footer {
    background-color: var(--clr--white);
    border-top: 1px solid var(--clr--border);
}

.user-dashboard__help-footer button {
    background-color: var(--clr--link);
    color: var(--clr--white);
    padding: 8px;
    margin: 2% 3%;
}

.user-dashboard__help-footer button:hover {
    opacity: .9;
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .user-dashboard__help {
        width: 22vw;
        height: 785px;
    }
    .user-dashboard__help-footer button {
        margin-top: 3%;
    }
    .user-dashboard {
        padding: 30px 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .dashboard-main {
        height: 800px;
    }
    .user-dashboard {
        padding: 20px;
    }
    .user-dashboard__help {
        width: 20vw;
        height: 140vh;
    }
    .user-dashboard__help-body-item-text {
        width: 60%;
    }
    .user-dashboard__help-body-item-text button {
        margin-top: 10px;
        padding: 10px;
        font-size: .90rem;
        width: 115px;
    }
    .user-dashboard__help-body-item-text button i {
        top: 30%;
        left: 10%;
    }
}

@media screen and (max-width: 800px) {
    .dashboard-main {
        padding-bottom: 1500px;
    }
    .user-dashboard {
        padding: 20px 15px;
    }
    .user-dashboard__register-container {
        display: inline-block;
        width: 100%;
    }
    .user-dashboard__register,
    .user-dashboard__help {
        margin-bottom: 20px;
    }
    .user-dashboard__help {
        width: 100%;
        height: 680px;
        top: 100%;
    }
}

/**************/
