@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}


/**************/


/* 0. Variáveis
/* 1. Gerais
/* 2. Container
/* 3. Header
/* 4. Apresentação
/* 5. Sobre Nós
/* 6. Nosso Serviço
/* 7. Vantagens
/* 8. Produtos
/* 9. Empresa
/* 10. Redes Sociais
/**************/


/**************/


/*0. Variáveis*/

 :root {
    --clr--white: rgb(255, 255, 255);
    --clr--medium-white: rgb(250, 250, 250);
    --clr--black: rgb(0, 0, 0);
    --clr--medium-red: rgb(204, 35, 42);
    --clr--hover-transition: rgb(245, 172, 39);
    --clr--hover-transition-burguer: rgba(231, 154, 10, 0.418);
    --clr--hover-link-item: rgba(231, 154, 10, 0.61);
    --clr--link: rgb(52, 152, 219);
    --clr--blue-dark: rgb(40, 45, 60);
    --font--text: 'Open Sans', sans-serif;
    --font--title: 'Inter', sans-serif;
    --hoverable-transition: .4s;
    --text-mark: rgba(204, 35, 41, 0.089);
}


/**************/


/*1. Gerais*/


/**************/

body {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: var(--clr--black);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


/**************/


/*2. Container*/


/**************/

.container-section__apresentacao {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-section__sobrenos {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-section__sobrenos--content,
.container-section__sobrenos--list {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3.2rem;
}

.container-section__produtos,
.container-section__empresa,
.container-section__vantagens,
.container-section__nossoservico {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .container-section__sobrenos--content,
    .container-section__nossoservico {
        margin-left: 2%;
        flex-direction: unset;
    }
    .container-section__produtos {
        flex-direction: unset;
    }
}


/**************/


/*3. Header*/


/**************/

.header {
    width: 100%;
    height: 4.5rem;
    background-color: var(--clr--medium-red);
    position: fixed;
    color: var(--clr--white);
    box-shadow: 0px 1px 2px 0px #0000007d;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 90%;
    overflow: hidden;
    background-color: var(--clr--medium-red);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: var(--clr--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    font-family: var(--font--title);
    font-weight: 500;
    font-size: .85rem;
}

.navbar-logo {
    padding: .45rem 5% .45rem 15%;
}

.navbar-logo__anchor--hoverable:hover {
    background-color: var(--clr--hover-link-item);
    transition: var(--hoverable-transition);
}

.navbar-list {
    display: flex;
    font-family: var(--font--title);
    font-size: .85rem;
}

.navbar-item .item__link {
    padding: 1.9rem 1.1rem 1.9rem;
    font-weight: 800;
}

.navbar-item:hover {
    background-color: var(--clr--hover-link-item);
    transition: var(--hoverable-transition);
}

.navbar-input i {
    position: absolute;
}

.icon {
    padding: 10px 25px;
    color: rgba(128, 128, 128, 0.719);
    font-size: 1.3rem;
}

.input-search,
.hidden-menu__item input {
    margin-left: 8%;
    border: 1px solid rgba(0, 0, 0, 0.034);
    border-radius: 3px;
    padding: 8px 8px 8px 35px;
    outline: none;
    max-width: 180px;
    font-size: 1.0rem;
    font-family: var(--font--text);
}

.input-search:focus {
    border-radius: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    font-weight: 800;
}

.dropdown .dropbtn {
    font-size: .85rem;
    border: none;
    outline: none;
    color: var(--clr--white);
    padding: 1.8rem 1.1rem;
    background-color: transparent;
    font-family: var(--font--title);
}

.dropdown:hover .dropbtn {
    background-color: var(--clr--medium-red);
    color: var(--clr--white);
    background-color: var(--clr--hover-link-item);
    transition: var(--hoverable-transition);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-content a {
    float: none;
    color: var(--clr--medium-red);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.308);
    color: var(--clr--hover-transition);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.get-started__link {
    margin-left: 2%;
}

.get-started__link>.navbar-btn__link {
    border: none;
    border-radius: 3px;
    padding: 15px;
    font-family: var(--font--title);
    font-weight: 800;
    background-color: var(--clr--white);
}

.navbar-btn__link:hover {
    background-color: var(--clr--hover-transition);
    color: var(--clr--white);
    transition: var(--hoverable-transition);
}

.is-mobile-only {
    display: none;
}

.navbar-hidden__menu {
    margin: 10px 0;
}

.is-mobile-only>i {
    font-size: 1.5rem;
    padding: 10px;
}

.is-mobile-only:hover {
    background-color: var(--clr--hover-transition-burguer);
}

.navbar .navbar-hidden__menu {
    position: absolute;
    right: 0;
}

.navbar-hidden__menu .fa-close {
    display: none;
}

.hidden-menu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 380px;
    background-color: var(--clr--white);
    box-shadow: 0px 2px 10px 2px #b6b8b8bd;
    display: none;
    margin-top: 1px;
}

.hidden-menu__list,
.hidden-menu__dropdown-content {
    padding-top: 5px;
    font-family: var(--font--title);
    font-weight: 800;
    font-size: .90rem;
}

.hidden-menu__list a,
.hidden-menu__dropdown-content a {
    color: var(--clr--medium-red);
}

.hidden-menu__list>.hidden-menu__item {
    padding: 10px;
}

.hidden-menu__item:last-child i {
    color: var(--clr--link);
    font-weight: 800;
    font-size: 1.2rem;
    margin-left: 20%;
}

.hidden-menu__list>.hidden-menu__item:hover,
.hidden-menu__dropdown-content .hidden-menu__dropdown-content-item:hover {
    background-color: rgba(221, 215, 215, 0.192);
}

.hidden-menu__dropdown-content .hidden-menu__dropdown-content-item {
    padding: 10px;
}

.hidden-menu__dropdown-content-item a {
    padding-left: 30px;
    font-weight: normal;
}

.hidden-menu__dropdown-content-item a:hover {
    color: purple;
}

.hidden-menu__input {
    position: relative;
}

.hidden-menu__input>i {
    color: rgba(128, 128, 128, 0.719);
    position: absolute;
    right: 40px;
    left: auto;
    top: 34px;
    bottom: auto;
    font-size: 1.2rem;
    cursor: pointer;
}

.hidden-menu__input>input {
    float: right;
    margin: 5% 3% 0 0;
    border: 1px solid rgba(0, 0, 0, 0.377);
    display: none;
}

@media screen and (max-width: 767px) {
    .is-desktop {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .navbar-logo {
        padding-left: 0;
    }
    .navbar-logo__anchor--hoverable:hover {
        background-color: transparent;
        transition: 0;
    }
    .is-mobile-only {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .navbar-logo {
        padding-left: 0;
    }
    .navbar-logo__anchor--hoverable:hover {
        background-color: transparent;
        transition: 0;
    }
    .is-mobile-only {
        display: none;
    }
}


/**************/


/*4. Apresentação*/


/**************/

.apresentacao {
    height: 700px;
    font-family: var(--font--title);
    background-color: var(--clr--medium-white);
    padding-top: 3.8rem;
}

.section-apresentacao__text {
    margin-right: 2.4rem;
}

.section-apresentacao__text--title {
    font-size: 3.2rem;
    font-weight: 200;
    letter-spacing: .03cm;
    line-height: 1.3cm;
}

.section-apresentacao__text--subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: .8cm;
    letter-spacing: .03cm;
    width: 320px;
}

.section-apresentacao__img {
    margin-top: 1.8rem;
}

.get-started__button {
    margin-top: 3.8rem;
    background-color: var(--clr--medium-red);
    color: var(--clr--white);
    border: none;
    border-radius: 5px;
    padding: 18px 35px 18px 35px;
    font-family: var(--font--text);
    font-weight: 800;
    font-size: 1.3rem;
}

.get-started__button:hover {
    opacity: .9;
    background-color: var(--clr--hover-transition);
    transition: var(--hoverable-transition);
}

.section-apresentacao__text--paragraph {
    font-family: var(--font--text);
    font-size: 0.8rem;
    margin-top: 1.3rem;
}

@media screen and (max-width: 800px) {
    .apresentacao {
        height: 850px;
    }
    .section-apresentacao__text {
        margin-top: 3.4rem;
        margin-left: 3%;
    }
    .section-apresentacao__text--title {
        font-size: 2.2rem;
    }
    .section-apresentacao__text--subtitle {
        font-size: .95rem;
    }
    .get-started__button,
    .section-apresentacao__text--paragraph {
        margin-left: 5%;
    }
    .get-started__button {
        margin-top: 3.4rem;
        font-size: .97rem;
    }
    .section-apresentacao__text--paragraph {
        font-family: var(--font--text);
        font-size: .70rem;
        margin-top: 1.3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .apresentacao {
        height: 550px;
    }
    .section-apresentacao__text {
        margin-top: 3.8rem;
    }
}


/**************/


/*5. Sobre Nós*/


/**************/

.sobrenos {
    height: 800px;
    border-top: 1px solid rgba(0, 0, 0, 0.055);
}

.section-sobrenos__img--garantia,
.section-sobrenos__img--creditcards {
    margin: 1.2rem 0 .60rem 0;
}

.section-sobrenos__hr--start {
    width: 55%;
    border: 1px solid rgba(0, 0, 0, 0.055);
    border-radius: 1px;
    opacity: .7;
}

.section-sobrenos__text--title {
    font-family: var(--font--title);
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 1.4rem;
}

.section-sobrenos__text--subtitle {
    font-family: var(--font--text);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.5rem 0 1.7rem 0;
}

.section-sobrenos__list {
    margin: 0.6rem 0 0.9rem 0;
    font-family: var(--font--text);
    line-height: .85cm;
    padding: 20px 45px 20px 45px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.sobrenos-list__item {
    font-size: 1.0rem;
}

.sobrenos-list__item::before {
    content: "\2022";
    color: var(--clr--medium-red);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.sobrenos-list__item--mark {
    background-color: var(--text-mark);
}

.section-sobrenos__text--paragraph {
    font-family: var(--font--text);
    font-size: 1.0rem;
    line-height: .9cm;
    width: 630px;
    text-align: center;
    margin-bottom: 2.8rem;
}

.section-sobrenos__hr--end {
    width: 33%;
    border: 1px solid rgba(0, 0, 0, 0.055);
    border-radius: 1px;
    opacity: .7;
}

@media screen and (max-width: 800px) {
    .sobrenos {
        height: 1130px;
    }
    .section-sobrenos__text--title {
        font-size: 1.0rem;
        margin-top: 2.6rem;
    }
    .section-sobrenos__text--subtitle {
        font-size: .97rem;
    }
    .section-sobrenos__list {
        width: 360px;
        border: 0;
    }
    .section-sobrenos__hr--end {
        width: 100%;
    }
    .section-sobrenos__text--paragraph {
        width: 350px;
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 1024px) {
    .sobrenos {
        height: 1130px;
    }
    .section-sobrenos__text--title {
        font-size: 1.4rem;
    }
    .section-sobrenos__text--subtitle {
        font-size: 1.2rem;
    }
    .section-sobrenos__list {
        width: 360px;
    }
    .section-sobrenos__hr--end {
        width: 100%;
    }
    .section-sobrenos__text--paragraph {
        width: 350px;
        font-size: 1.2rem;
    }
}


/**************/


/* 6. Nosso Serviço*/


/**************/

.nossoservico {
    height: 480px;
    text-align: center;
}

.section-nossoservico__text--title {
    font-family: var(--font--title);
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 1.4rem;
}

.section-nossoservico__text--subtitle {
    font-family: var(--font--text);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.5rem 0 1.7rem 0;
}

.nossservico-content__img--content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: wrap;
    width: 990px;
}

.nossoservico-content__img--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
}

.content-img__box {
    width: 240px;
    margin-right: .70rem;
}

.img-text__title {
    font-family: var(--font--title);
    font-size: 1.0rem;
    font-weight: 500;
    padding-bottom: .55rem;
}

.img-text__subtitle {
    font-family: var(--font--text);
    font-size: 0.95rem;
}

.content-img__text--2 {
    margin-bottom: 1.2rem;
}

.section-nossoservico__hr {
    width: 33%;
    border: 1px solid rgba(0, 0, 0, 0.055);
    border-radius: 1px;
    opacity: .7;
    margin-top: 4.0rem;
}

@media screen and (min-width: 992px) {
    .is-mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .nossoservico {
        height: 1150px;
    }
    .nossservico-content__img--content {
        flex-direction: column;
    }
    .nossoservico-content__img--flow {
        display: none;
    }
    .section-nossoservico__hr {
        width: 100%;
    }
    .nossservico-content__img--content {
        display: none;
    }
    .nossoservico-content__img--text {
        flex-direction: column;
    }
    .content-img__box {
        margin-top: .55rem;
    }
    .section-nossoservico__text {
        margin-top: 2.6rem;
    }
    .section-nossoservico__text--title {
        font-size: 1.5rem;
    }
    .section-nossoservico__text--subtitle {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1024px) {
    .section-nossoservico__text--title {
        margin-top: .45rem;
    }
}


/**************/


/* 7. Vantagens*/


/**************/

.vantagens {
    height: 1820px;
}

.section-vantagens__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    margin-bottom: 4.2rem;
}

.content-text {
    width: 400px;
}

.vantagens-content__img--left {
    margin-right: 5.2rem;
}

.vantagens-content__title {
    font-family: var(--font--title);
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: .65rem;
}

.vantagens-content__subtitle {
    font-family: var(--font--text);
    font-size: 1.2rem;
    line-height: .70cm;
}

.vantagens-content__img--right {
    margin-left: 4.2rem;
}

.section-vantagens__proud {
    margin: auto;
}

.section-vantagens__proud--header {
    text-align: center;
    margin: 10px 0 25px 0;
}

.section-vantagens__proud--content {
    display: flex;
    justify-content: space-between;
    flex: wrap;
}

.section-vantagens__proud--title {
    color: var(--clr--medium-red);
    font-family: var(--font--title);
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
}

.section-vantagens__proud--list {
    font-family: var(--font--text);
    font-size: 1.2rem;
    line-height: .55cm;
}

.vantagens-proud__itemlist {
    padding: 5px 0 5px 0;
}

.vantagens-proud__itemlist::before {
    content: "\2022";
    color: var(--clr--medium-red);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.section-vantagens__proud--left,
.section-vantagens__proud--right {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 16px 0 16px 0;
    display: flex;
}

.section-vantagens__proud--left {
    margin-right: 11.7rem;
}

.section-vantagens__button--click {
    margin-top: 1.8rem;
    background-color: var(--clr--medium-red);
    color: var(--clr--white);
    border: none;
    border-radius: 3px;
    padding: 18px 35px 18px 35px;
    font-family: var(--font--text);
    font-weight: 800;
    font-size: 1.3rem;
}

.section-vantagens__button--title {
    font-family: var(--font--title);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3.6rem;
}

.section-vantagens__button--click:hover {
    opacity: .9;
    background-color: var(--clr--hover-transition);
    transition: var(--hoverable-transition);
}

.section-vantagens__illustration {
    margin-top: 3.2rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .vantagens {
        height: 2140px;
    }
    .section-vantagens__content {
        flex-direction: column;
        text-align: center;
    }
    .vantagens-content__title {
        font-size: 1.0rem;
    }
    .vantagens-content__subtitle {
        font-size: .90rem;
    }
    .content-text {
        text-align: center;
        width: 300px;
    }
    .is-widescreen {
        display: none;
    }
    .content-img {
        margin-bottom: 1.6rem;
    }
    .section-vantagens__proud--left {
        border: 0;
        margin: auto;
    }
    .mr-10 {
        margin-right: 10%;
    }
    .ml-10 {
        margin-left: 10%;
    }
    .mr-20 {
        margin-right: 20%;
    }
    .ml-20 {
        margin-left: 20%;
    }
}


/**************/


/* 8. Produtos*/


/**************/

.produtos {
    height: 1210px;
}

.section-produtos__content--title {
    text-align: center;
    font-family: var(--font--title);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2.8rem;
}

.section-produtos__content--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2.4rem;
}

.section-produtos__content--brands {
    width: 900px;
}

.produtos__content--title {
    text-align: center;
    font-family: var(--font--title);
    font-size: .75rem;
    font-weight: 600;
    margin-top: 4.2rem;
}

.is-title {
    text-align: center;
    font-family: var(--font--title);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.is-subtitle {
    text-align: center;
    font-family: var(--font--text);
    font-size: 1.0rem;
    line-height: .7cm;
}

@media screen and (max-width: 800px) {
    .produtos {
        height: 2300px;
    }
    .section-produtos__content--flex {
        flex-direction: column;
    }
    .section-produtos__content--title {
        font-size: 1.7rem;
    }
    .produtos__content--title {
        margin: 3.4rem 0 1.6rem 0;
    }
}


/**************/


/* 9. Empresa*/


/**************/

.empresa {
    background-color: var(--clr--blue-dark);
    height: 750px;
}

.section-empresa__logo {
    margin-top: 2.2rem;
}

.section-empresa__title {
    color: var(--clr--medium-red);
    font-weight: 800;
    font-family: var(--font--title);
    font-size: 1.2rem;
    margin: 2.5rem 2.8rem;
}

.section-empresa__info {
    color: var(--clr--white);
    font-family: var(--font--text);
    font-weight: bold;
}

.menu__list {
    margin-top: 1.2rem;
    font-family: var(--font--text);
    text-align: center;
    font-size: 1.0rem;
    font-weight: 500;
    line-height: .76cm;
}

.list__item>a {
    color: var(--clr--medium-red);
}

.mb-3 {
    margin-bottom: 3.0rem;
}

.site-brand {
    font-family: var(--font--text);
    font-size: .85rem;
    font-weight: 500;
    color: rgb(89, 99, 113);
}


/**************/


/* 10. Redes Sociais*/


/**************/

.redes-sociais {
    height: 100px;
    background-color: rgb(28, 32, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes-sociais__menu {
    columns: 3;
}

.redes-sociais__list {
    margin-right: 1.0rem;
}

.is-white {
    color: var(--clr--white);
    font-size: 1.6rem;
    margin-right: .45rem;
}

.is-red {
    color: var(--clr--medium-red);
    font-family: var(--font--text);
    font-weight: 600;
    font-size: 1.0rem;
}

@media screen and (max-width: 800px) {
    .is-white {
        font-size: 1.0rem;
    }
    .is-red {
        font-size: .75rem;
    }
}
